@use "var" as var;
@use "mixin" as mixin;


/* loading 
--------------------------------------- */
.loading {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var.$backGroundColor;
	visibility: hidden;
	transition: 0.3s ease-out;
	opacity: 0;
	overflow: hidden;
	z-index: 100;

	&.active {
		visibility: visible;
		opacity: 1;
	}
	.loading_image {
		width: 100%;
		text-align: center;

		img {
			width: 25%;
			height: 25%;
			object-fit: contain;
			animation: delayStart 1s;
		}

		@keyframes delayStart {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}

	.loading_name {
		font-size: 3rem;
		font-family: var.$fontFamilyEn;
		position: absolute;
		left: 50%;
		bottom: 10%;
		transform: translateX(-50%);
		text-align: center;
		margin-bottom: 50px;
		color: var.$textColor;
	}

	.loading_bar {
		width: 100%;
		height: 1px;
		background-color: #eee;
		border-radius: 5px;
		position: relative;
		overflow: hidden;
		margin-top: 10px;
	}

	.loading_bar .bar {
		height: 100%;
		background-color: #333;
		position: absolute;
		animation: progress 2s infinite normal;
		animation-fill-mode: forwards;
	}

	@keyframes progress {
		0% {
			width: 0;
		}
		100% {
			width: 100%;
		}
	}
}

@media screen and (max-width: 414px) {
	.loading {
		.loading_image {
			img {
				width: 50%;
				height: 50%;
				object-fit: contain;
				animation: delayStart 1s;
			}
		}
	}
}