// $backGroundColor: #000;
$backGroundColor: #fff;

// $textColor: #fff;
// $textColor: #000;
$textColor: #333;

$fontFamilyEn: "Lato",sans-serif;

$fontFamilyJa: "Noto Serif JP", serif;

$mainImageWidth: 90%;

$mainImageSidePadding: 50px;
