@charset "UTF-8";
/* loading 
--------------------------------------- */
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 1s;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  z-index: 100;
}
.loading.active {
  visibility: visible;
  opacity: 1;
}
.loading .loading_image {
  width: 100%;
  text-align: center;
}
.loading .loading_image img {
  width: 25%;
  height: 25%;
  -o-object-fit: contain;
     object-fit: contain;
  animation: delayStart 1s;
}
@keyframes delayStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading .loading_name {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
  color: #333;
}
.loading .loading_bar {
  width: 100%;
  height: 1px;
  background-color: #eee; /*バーの背景色*/
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}
.loading .loading_bar .bar {
  height: 100%;
  background-color: #333; /*バーカラー*/
  position: absolute;
  animation: progress 2s infinite normal; /*アニメーションスピード*/
  animation-fill-mode: forwards;
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

header {
  width: 100%;
  padding: 0 50px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 1s;
}
header .inner {
  width: 90%;
  margin-left: auto;
}
header .inner .nav_sp {
  display: none;
}
header .inner .nav_pc {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
header .inner .nav_pc .gloval_nav_pc {
  display: flex;
  justify-content: center;
}
header .inner .nav_pc .gloval_nav_pc li:hover {
  opacity: 0.5;
}
header .inner .nav_pc .gloval_nav_pc li:hover::after {
  content: "";
  border-bottom: 1px solid #000;
}
header .inner .nav_pc .gloval_nav_pc li a {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
}
header .inner .nav_pc .gloval_nav_pc li:not(:first-of-type) {
  margin-left: 20px;
}
header .inner .nav_pc .sns_nav_pc {
  display: flex;
}
header .inner .nav_pc .sns_nav_pc li {
  margin-left: 30px;
}
header .inner .nav_pc .sns_nav_pc li:hover {
  opacity: 0.5;
}
header .inner .nav_pc .sns_nav_pc li:hover::after {
  content: "";
  border-bottom: 1px solid #000;
}
header .inner .nav_pc .sns_nav_pc li:first-of-type {
  margin-left: 50px;
}
header .inner .nav_pc .sns_nav_pc li a {
  font-size: 2rem;
  color: #333;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
}

@media screen and (max-width: 768px) {
  body {
    transition: 1s;
  }
  body header {
    transition: 1s;
  }
  body header .inner {
    width: 100%;
    margin-top: 50px;
  }
  body header .inner .nav_pc {
    display: none;
  }
  body header .inner .nav_sp {
    display: flex;
    justify-content: space-between;
  }
  body header .inner .nav_sp .main_visual_name_sp {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    margin-right: 0 auto;
  }
  body header .inner .nav_sp .hamburger_menu {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    position: relative;
    z-index: 4;
  }
  body header .inner .nav_sp .hamburger_menu .hamburger_bar {
    display: block;
    width: 40px;
    height: 1px;
    background-color: #333;
    position: absolute;
    transition: 1s;
  }
  body header .inner .nav_sp .hamburger_menu .hamburger_bar:nth-of-type(1) {
    top: 0;
    left: 0;
  }
  body header .inner .nav_sp .hamburger_menu .hamburger_bar:nth-of-type(2) {
    top: 12px;
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  body header .inner .nav_sp .hamburger_menu .hamburger_bar:nth-of-type(3) {
    top: 24px;
    left: 0;
  }
  body header .inner .nav_sp.open .hamburger_bar {
    transition: 1s;
  }
  body header .inner .nav_sp.open .hamburger_bar:nth-of-type(1) {
    transform: rotate(-135deg);
    top: 15px;
    border: 1px solid #fff;
  }
  body header .inner .nav_sp.open .hamburger_bar:nth-of-type(2) {
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
  }
  body header .inner .nav_sp.open .hamburger_bar:nth-of-type(3) {
    transform: rotate(135deg);
    top: 15px;
    border: 1px solid #fff;
  }
}
body {
  position: relative;
  background-color: #fff;
  transition: 1s;
}
body .menu_sp {
  display: none;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .container .main_visual {
  margin-bottom: 100px;
}
body .container .main_visual .inner {
  width: min(1680px, 100%);
  display: flex;
  margin: 100px auto;
  padding: 0 50px;
}
body .container .main_visual .inner .main_visual_name {
  width: 10%;
}
body .container .main_visual .inner .main_visual_name p {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  color: #333;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
@keyframes showVisualText {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .container .main_visual .inner .main_visual_name span {
  animation: showVisualText 10s backwards;
}
body .container .main_visual .inner .main_visual_image {
  width: 90%;
}
body .container .main_visual .inner .main_visual_image .slide_img {
  width: 100%;
  height: auto;
  animation: imgFade 20s infinite;
  opacity: 0;
}
@keyframes imgFade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body main .profile {
  font-size: 30px;
  font-family: "Lato", sans-serif;
}
body main .profile .inner {
  width: min(1680px, 100%);
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .profile .inner .profile_img {
  width: 50%;
}
body main .profile .inner .profile_img img {
  width: 100%;
  height: auto;
}
body main .profile .inner .profile_contents {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .profile .inner .profile_contents .profile_title {
  text-align: center;
  margin-bottom: 30px;
}
body main .profile .inner .profile_contents .profile_name_en {
  font-size: 4rem;
  font-family: "Lato", sans-serif;
}
body main .profile .inner .profile_contents .profile_name_ja {
  font-size: 2rem;
  font-family: "Noto Serif JP", serif;
  margin-bottom: 30px;
}
body main .profile .inner .profile_contents .profile_text {
  padding: 50px 0 50px 50px;
  font-size: clamp(1.3rem, 1.254rem + 0.23vw, 1.5rem);
  font-family: "Noto Serif JP", serif;
  line-height: 2;
}
body main .profile .inner .profile_contents .profile_text .bottom_space {
  margin-bottom: 20px;
}
body main .profile .inner .js_scroll_display {
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
}
body main .profile .inner .js_scroll_display.fade_in {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1280px) {
  body main .profile .inner {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 50px;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 50px;
  }
  body main .profile .inner .profile_img {
    width: 75%;
    height: auto;
    margin-bottom: 20px;
  }
  body main .profile .inner .profile_contents {
    width: 100%;
  }
  body main .profile .inner .profile_contents .profile_title {
    margin-bottom: 20px;
  }
  body main .profile .inner .profile_contents .profile_name_ja {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  body main .profile .inner .profile_contents .profile_name_en {
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    margin-bottom: 20px;
  }
  body main .profile .inner .profile_contents .profile_text {
    padding: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  body {
    transition: 1s;
  }
  body .menu_sp {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  body .menu_sp.open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #333;
    visibility: visible;
    opacity: 1;
    transition: 1s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  body .menu_sp.open .gloval_nav_sp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .menu_sp.open .gloval_nav_sp li:not(:first-of-type) {
    margin-top: 30px;
  }
  body .menu_sp.open .gloval_nav_sp li a {
    font-size: 3rem;
    font-family: "Lato", sans-serif;
    color: #fff;
  }
  body .menu_sp.open .sns_nav_sp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
  body .menu_sp.open .sns_nav_sp li a {
    font-size: 2rem;
    color: #fff;
  }
  body .container .main_visual {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  body .container .main_visual .inner .main_visual_name {
    display: none;
  }
  body .container .main_visual .inner .main_visual_name p {
    font-size: 1rem;
  }
  body .container .main_visual .inner .main_visual_image {
    width: 100%;
    margin-bottom: 90px;
  }
  body .container .main_visual .inner .main_visual_image .slide_img_sp {
    width: 100%;
    height: auto;
    animation: imgFadeSp 10s infinite;
    opacity: 0;
  }
  @keyframes imgFadeSp {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
@media screen and (max-width: 768px) and (max-width: 414px) {
  body .container .top main .profile .inner .profile_img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  body .container .top main .profile .inner .profile_contents .profile_text {
    padding: 0;
    margin-bottom: 20px;
  }
}
.gallary {
  /* gallary_container ---------------------------------------------------------------*/
  /* モーダルの指定 */
  /* モーダルを消すボタン */
}
.gallary header .inner {
  width: 100%;
  margin-left: auto;
}
.gallary .gallary_container {
  display: flex;
  flex-wrap: wrap;
  margin: 200px 150px;
  /* li ---------------------------------------------------------------*/
}
.gallary .gallary_container.active {
  /* カーソル乗ってないli */
}
.gallary .gallary_container.active li {
  /* 選択されていない画像 */
}
.gallary .gallary_container.active li:not(.active) {
  filter: brightness(0.2);
}
.gallary .gallary_container li {
  width: 20%;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  /* imgへの指定 */
}
.gallary .gallary_container li.active {
  /* カーソル乗るli */
  z-index: 1;
  /* カーソル乗るliのimg(拡大用の写真)*/
}
.gallary .gallary_container li.active img.popUp {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 1;
  visibility: visible;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
}
.gallary .gallary_container li img {
  display: block;
  transition: 0.1s;
  /* 表示用の写真、普段は見える */
  /* 拡大用の写真、普段は見えない */
}
.gallary .gallary_container li img.thumbnail {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallary .gallary_container li img.popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
  visibility: hidden;
  height: 100%;
}
.gallary .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: hidden;
  z-index: 1;
  transition: 0.5s;
  opacity: 0;
  display: grid;
  place-items: center;
  /* モーダルの表示 */
}
.gallary .modal.show {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.gallary .modal .slide_wrapper {
  width: 90vw;
  height: 80vh;
  position: relative;
  /* モーダルに表示される写真 */
}
.gallary .modal .slide_wrapper .swiper {
  width: calc(100% - 100px);
}
.gallary .modal .slide_wrapper .swiper-slide img {
  width: 100%;
  height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallary .modal .swiper-button-prev {
  left: 10px;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-right: 10px solid #333;
}
.gallary .modal .swiper-button-prev::after {
  display: none;
}
.gallary .modal .swiper-button-next {
  right: 10px;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-left: 10px solid #333;
  color: #333;
}
.gallary .modal .swiper-button-next::after {
  display: none;
}
.gallary .close {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
  /* ------------クラス名を付与する場合------------- */
  visibility: hidden;
  opacity: 0;
  /* ------------------------------------------------ */
}
.gallary .close.show {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
@media (hover: hover) {
  .gallary .close:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
}
@media (hover: none) {
  .gallary .close:active {
    opacity: 0.5;
  }
}
.gallary .close::before, .gallary .close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 25px;
  background: #333;
}
.gallary .close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.gallary .close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 768px) {
  .gallary .gallary_container {
    margin: 200px 20px;
  }
  .gallary .gallary_container li {
    width: 33.3%;
  }
}
@media (max-width: 414px) {
  .gallary .gallary_container {
    margin: 200px 10px;
    /* li ---------------------------------------------------------------*/
  }
  .gallary .gallary_container li {
    width: 50%;
  }
  .gallary .gallary_container li.active img.popUp {
    transform: none;
  }
  .gallary .gallary_container li img {
    /* 拡大用の写真、普段は見えない */
  }
  .gallary .gallary_container li img.popUp {
    top: 0;
    left: 0;
    transform: none;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallary .modal .slide_wrapper .swiper {
    width: 100%;
  }
  .gallary .modal .swiper-button-prev {
    top: 110%;
  }
  .gallary .modal .swiper-button-next {
    top: 110%;
    left: 25%;
  }
  .gallary .modal .close {
    left: 20%;
    bottom: 16px;
    transform: translateX(-50%);
  }
}

/* 基本設定 
--------------------------------------- */
html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hedden;
}

body {
  /* font-family: YakuHanJP_Noto, 'Noto Sans JP', sans-serif; */
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */