@charset "UTF-8";
/* 基本設定 
--------------------------------------- */
html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hedden;
}

body {
  /* font-family: YakuHanJP_Noto, 'Noto Sans JP', sans-serif; */
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

/* loading 
--------------------------------------- */
.loading {
  /* width: 100vw;
  height: 100vh; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 2.5s;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  overflow-y: hidden;
}
.loading .loading_image {
  width: 50%;
  height: 50%;
  background-image: url(image/img1.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: delayStart 1s;
}
@keyframes delayStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading .loading_name {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
  color: #333;
}
.loading .loading_bar {
  width: 100%;
  height: 1px;
  background-color: #eee; /*バーの背景色*/
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}
.loading .loading_bar .bar {
  height: 100%;
  background-color: #333; /*バーカラー*/
  position: absolute;
  animation: progress 2s infinite normal; /*アニメーションスピード*/
  animation-fill-mode: forwards;
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.loading.active {
  visibility: visible;
  opacity: 1;
}

body {
  position: relative;
  background-color: #fff;
}
body header {
  width: 100%;
  padding: 0 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
body header .inner {
  width: 90%;
  margin-left: auto;
}
body header .inner .nav_sp {
  display: none;
}
body header .inner .nav_pc {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
body header .inner .nav_pc .gloval_nav_pc {
  display: flex;
  justify-content: center;
}
body header .inner .nav_pc .gloval_nav_pc li:hover {
  opacity: 0.5;
}
body header .inner .nav_pc .gloval_nav_pc li:hover::after {
  content: "";
  border-bottom: 1px solid #000;
}
body header .inner .nav_pc .gloval_nav_pc li a {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
}
body header .inner .nav_pc .gloval_nav_pc li:not(:first-of-type) {
  margin-left: 20px;
}
body header .inner .nav_pc .sns_nav_pc {
  display: flex;
}
body header .inner .nav_pc .sns_nav_pc li {
  margin-left: 30px;
}
body header .inner .nav_pc .sns_nav_pc li:hover {
  opacity: 0.5;
}
body header .inner .nav_pc .sns_nav_pc li:hover::after {
  content: "";
  border-bottom: 1px solid #000;
}
body header .inner .nav_pc .sns_nav_pc li:first-of-type {
  margin-left: 50px;
}
body header .inner .nav_pc .sns_nav_pc li a i {
  font-size: 2rem;
  color: #333;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
}
body .menu_sp {
  display: none;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .container .main_visual {
  height: 100vh;
  margin-bottom: 100px;
}
body .container .main_visual .inner {
  width: min(1680px, 100%);
  height: 50%;
  display: flex;
  margin: 100px auto;
  padding: 0 50px;
}
body .container .main_visual .inner .main_visual_name {
  width: 10%;
}
body .container .main_visual .inner .main_visual_name p {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  color: #333;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
@keyframes showVisualText {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .container .main_visual .inner .main_visual_name span {
  animation: showVisualText 10s backwards;
}
body .container .main_visual .inner .main_visual_image {
  width: 90%;
}
body .container .main_visual .inner .main_visual_image .slide_img {
  width: 100%;
  height: auto;
  animation: imgFade 20s infinite;
  opacity: 0;
}
@keyframes imgFade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body main .profile {
  font-size: 30px;
  font-family: "Lato", sans-serif;
}
body main .profile .inner {
  width: min(1680px, 100%);
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .profile .inner .profile_img {
  width: 50%;
}
body main .profile .inner .profile_img img {
  width: 100%;
  height: auto;
}
body main .profile .inner .profile_contents {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .profile .inner .profile_contents .profile_title {
  text-align: center;
  margin-bottom: 30px;
}
body main .profile .inner .profile_contents .profile_name {
  font-size: 3rem;
  font-family: "Noto Serif JP", serif;
}
body main .profile .inner .profile_contents .profile_text {
  padding: 50px 0 50px 50px;
  font-size: 1.5rem;
  font-family: "Noto Serif JP", serif;
  line-height: 2;
}
body main .profile .inner .profile_contents .profile_text .bottom_space {
  margin-bottom: 20px;
}
body main .profile .inner .js_scroll_display {
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}
body main .profile .inner .js_scroll_display.fade_in {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  body header .inner {
    width: 100%;
    margin-top: 50px;
  }
  body header .inner .nav_pc {
    display: none;
  }
  body header .inner .nav_sp {
    display: flex;
    justify-content: space-between;
  }
  body header .inner .nav_sp .main_visual_name_sp {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    margin-right: 0 auto;
  }
  body header .inner .nav_sp .hamburger_menu {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    position: relative;
    z-index: 3;
  }
  body header .inner .nav_sp .hamburger_menu .hamburger_bar {
    display: block;
    width: 40px;
    height: 1px;
    background-color: #333;
    position: absolute;
    transition: 1s;
  }
  body header .inner .nav_sp .hamburger_menu .hamburger_bar:nth-of-type(1) {
    top: 0;
    left: 0;
  }
  body header .inner .nav_sp .hamburger_menu .hamburger_bar:nth-of-type(2) {
    top: 12px;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: 5s;
  }
  body header .inner .nav_sp .hamburger_menu .hamburger_bar:nth-of-type(3) {
    top: 24px;
    left: 0;
  }
  body header .inner .nav_sp.open .hamburger_bar {
    transition: 1s;
    background-color: #fff;
  }
  body header .inner .nav_sp.open .hamburger_bar:nth-of-type(1) {
    transform: rotate(-135deg);
    top: 15px;
  }
  body header .inner .nav_sp.open .hamburger_bar:nth-of-type(2) {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  body header .inner .nav_sp.open .hamburger_bar:nth-of-type(3) {
    transform: rotate(135deg);
    top: 15px;
  }
  body .menu_sp {
    visibility: hidden;
    opacity: 0;
  }
  body .menu_sp.open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #333;
    visibility: visible;
    opacity: 1;
    transition: 1s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .menu_sp.open .gloval_nav_sp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .menu_sp.open .gloval_nav_sp li:not(:first-of-type) {
    margin-top: 30px;
  }
  body .menu_sp.open .gloval_nav_sp li a {
    font-size: 3rem;
    font-family: "Lato", sans-serif;
    color: #fff;
  }
  body .menu_sp.open .sns_nav_sp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
  body .menu_sp.open .sns_nav_sp li a {
    font-size: 2rem;
    color: #fff;
  }
  body .container .main_visual {
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .container .main_visual .inner {
    margin: 0;
  }
  body .container .main_visual .inner .main_visual_name {
    display: none;
  }
  body .container .main_visual .inner .main_visual_name p {
    font-size: 1rem;
  }
  body .container .main_visual .inner .main_visual_image {
    width: 100%;
  }
  body .container .main_visual .inner .scroll_line {
    width: 1px;
    height: 100px;
    position: absolute;
    top: 30%;
    right: 50%;
    background-color: #333;
    transition: all 1.4s;
  }
  body .container .main_visual .inner .scroll_line::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #fff;
    animation: scroll_line 4s ease infinite;
  }
  @keyframes scroll_line {
    0% {
      bottom: 100%;
      /* 一番上からスタート */
      height: 0;
    }
    20% {
      bottom: 0;
      height: 100%;
    }
    80% {
      bottom: 0;
      height: 0;
    }
  }
  body .container .profile .inner {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 50px;
  }
  body .container .profile .inner .profile_img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  body .container .profile .inner .profile_contents {
    width: 80%;
  }
  body .container .profile .inner .profile_contents .profile_title {
    margin-bottom: 20px;
  }
  body .container .profile .inner .profile_contents .profile_name {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  body .container .profile .inner .profile_contents .profile_text {
    font-size: 1.3rem;
    padding: 0;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */